.multihandle {
  visibility: visible;
  user-select: none;
  height: $multihandle-handle-height;

  &--loading {
    visibility: hidden;
  }

  input {
    display: none;
  }
}

.multihandle__track {
  height: $multihandle-track-height;
  background: $multihandle-track-color;
  top: $multihandle-handle-height / 2 - $multihandle-track-height / 2;
  position: relative;
}

.multihandle__handle {
  width: $multihandle-handle-width;
  height: $multihandle-handle-height;
  margin-left: - $multihandle-handle-width / 2;
  background: $multihandle-handle-color;
  cursor: pointer;
  position: absolute;
  top: -$multihandle-handle-height / 2;
  left: 0;
}
