.multihandle {
  visibility: visible;

  &--loading {
    visibility: hidden;
  }
}

.multihandle__component {
  height: $multihandle-handle-height;
}

.multihandle__track {
  position: relative;
  height: $multihandle-handle-height;
  background: red;
}

.multihandle__track-deco {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: $multihandle-track-height;
  background: $multihandle-track-color;
  top: $multihandle-handle-height / 2 - $multihandle-track-height / 2;
}

.multihandle__interval {
  display: block;
  height: $multihandle-track-height;
  top: ($multihandle-handle-height / 2) - ($multihandle-track-height / 2);
  position: absolute;
  background: $multihandle-intervals-color;
  z-index: 2;
}

.multihandle__handle {
  width: $multihandle-handle-width;
  height: $multihandle-handle-height;
  margin-left: - $multihandle-handle-width / 2;
  background: $multihandle-handle-color;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  text-decoration: none;
}

.multihandle__snappingpoint {
  position: absolute;
  width: 3em;
  margin-left: -1.5em;
  text-align: center;
}
