.multihandle {
  visibility: visible;

  &--loading {
    visibility: hidden;
  }
}

.multihandle__component {
  height: $multihandle-handle-height;
}

.multihandle__track {
  height: $multihandle-track-height;
  background: $multihandle-track-color;
  top: $multihandle-handle-height / 2 - $multihandle-track-height / 2;
  position: relative;
}

.multihandle__handle {
  width: $multihandle-handle-width;
  height: $multihandle-handle-height;
  margin-left: - $multihandle-handle-width / 2;
  background: $multihandle-handle-color;
  cursor: pointer;
  position: absolute;
  top: -$multihandle-handle-height / 2;
  left: 0;
  z-index: 1;
  text-decoration: none;
}

.multihandle__line {
  display: block;
  height: $multihandle-track-height;
  position: absolute;
  background: $multihandle-line-color;
}

.multihandle__snappingpoint {
  position: absolute;
  width: 1px;
  height: $multihandle-snap-height;
  border-right: 1px solid $multihandle-snap-color;
  text-indent: -999em;
  overflow: hidden;
}

body.multihandle-disable-drag {
  user-select: none;
}
