$multihandle-track-height: 2px !default;
$multihandle-track-color: #eee !default;
$multihandle-handle-width: 20px !default;
$multihandle-handle-height: 20px !default;
$multihandle-handle-color: #aaa !default;
$multihandle-line-color: #ff0 !default;
$multihandle-snap-color: #777 !default;
$multihandle-snap-height: 5px !default;
