$multihandle-snap-color: #777 !default;
$multihandle-snap-height: 5px !default;

.multihandle--snapbars {
  .multihandle__snappingpoint {
    width: 1px;
    height: $multihandle-snap-height;
    border-right: 1px solid $multihandle-snap-color;
    text-indent: -999em;
    overflow: hidden;
  }
}
